In [1]:
import geopandas as gpd


data = gpd.read_file("full_data.geojson")
data["id"] = range(len(data))
data

c:\users\alexk\appdata\local\programs\python\python38\lib\site-packages\geopandas\_compat.py:123: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

,built_year,entrance_c,is_living,heating_ty,total_ppl,floor_coun,elevators_,area_resid,area,basement_a,...,is_living_is_imputed,heating_ty_is_imputed,total_ppl_is_imputed,floor_coun_is_imputed,elevators__is_imputed,area_resid_is_imputed,area_is_imputed,basement_a_is_imputed,geometry,id
0,1983,3,0,7,0,7,0,1977.350026,2558.467926,399.498500,...,False,False,False,True,True,True,False,True,"MULTIPOLYGON (((-302533.446 6134008.531, -3025...",0
1,1956,3,0,7,0,4,0,1761.342650,2906.330011,385.467323,...,False,False,False,True,True,True,False,True,"MULTIPOLYGON (((-303530.885 6135650.022, -3035...",1
2,1953,2,0,7,0,4,0,1959.889616,2625.769565,445.365694,...,False,False,False,True,True,True,False,True,"MULTIPOLYGON (((-303848.971 6135669.662, -3038...",2
3,1952,2,0,7,0,3,0,1716.788729,3928.826205,423.422774,...,False,False,False,True,True,True,False,True,"MULTIPOLYGON (((-303400.985 6132844.276, -3033...",3
4,1951,2,0,7,0,4,0,1766.993489,5125.072749,340.218804,...,False,False,False,True,True,True,False,True,"MULTIPOLYGON (((-306917.567 6135168.176, -3068...",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23908,1947,2,0,7,0,2,0,781.210334,4370.401174,420.646884,...,False,False,False,True,True,True,False,True,"MULTIPOLYGON (((-302622.828 6135585.450, -3026...",23908
23909,1970,3,1,7,44,3,0,1638.375990,2308.606474,449.948914,...,False,False,False,True,True,True,False,True,"MULTIPOLYGON (((-300522.739 6134997.754, -3004...",23909
23910,1954,2,0,7,0,3,0,765.905259,305.605432,380.837892,...,False,False,False,True,True,True,False,True,"MULTIPOLYGON (((-311480.289 6138128.724, -3114...",23910
23911,1984,3,1,7,42,4,0,1725.238896,2920.359252,512.857769,...,False,False,False,True,True,True,False,True,"MULTIPOLYGON (((-302313.073 6133310.507, -3023...",23911
23912,1977,2,1,7,64,6,0,2083.719827,4766.780392,416.025964,...,False,False,False,True,True,True,False,True,"MULTIPOLYGON (((-302335.595 6133360.837, -3023...",23912

In [2]:
blocks = gpd.read_file("blocks.geojson")
districts = gpd.read_file("district.geojson")

In [3]:
blocks["block_id"] = range(len(blocks))
blocks

                                              geometry  block_id
0    POLYGON ((20.38912 54.66428, 20.38880 54.66432...         0
1    POLYGON ((20.39112 54.69349, 20.39111 54.69349...         1
2    POLYGON ((20.39430 54.69512, 20.39430 54.69513...         2
3    POLYGON ((20.31547 54.70696, 20.31547 54.70695...         3
4    POLYGON ((20.36786 54.71608, 20.36607 54.71633...         4
..                                                 ...       ...
935  POLYGON ((20.58814 54.71039, 20.58848 54.71024...       935
936  POLYGON ((20.58111 54.70954, 20.58111 54.70955...       936
937  POLYGON ((20.59274 54.70807, 20.59211 54.70802...       937
938  POLYGON ((20.58435 54.71498, 20.58435 54.71497...       938
939  POLYGON ((20.59495 54.72034, 20.59504 54.72099...       939

[940 rows x 2 columns]

In [4]:
data.crs, blocks.crs

(<Derived Projected CRS: EPSG:32636>
 Name: WGS 84 / UTM zone 36N
 Axis Info [cartesian]:
 - E[east]: Easting (metre)
 - N[north]: Northing (metre)
 Area of Use:
 - name: Between 30°E and 36°E, northern hemisphere between equator and 84°N, onshore and offshore. Belarus. Cyprus. Egypt. Ethiopia. Finland. Israel. Jordan. Kenya. Lebanon. Moldova. Norway. Russian Federation. Saudi Arabia. Sudan. Syria. Turkey. Uganda. Ukraine.
 - bounds: (30.0, 0.0, 36.0, 84.0)
 Coordinate Operation:
 - name: UTM zone 36N
 - method: Transverse Mercator
 Datum: World Geodetic System 1984 ensemble
 - Ellipsoid: WGS 84
 - Prime Meridian: Greenwich,
 <Geographic 2D CRS: EPSG:4326>
 Name: WGS 84
 Axis Info [ellipsoidal]:
 - Lat[north]: Geodetic latitude (degree)
 - Lon[east]: Geodetic longitude (degree)
 Area of Use:
 - name: World.
 - bounds: (-180.0, -90.0, 180.0, 90.0)
 Datum: World Geodetic System 1984 ensemble
 - Ellipsoid: WGS 84
 - Prime Meridian: Greenwich)

In [5]:
data = data.to_crs(blocks.crs)

In [6]:
buildings = data.sjoin(blocks, how="left")
buildings

,built_year,entrance_c,is_living,heating_ty,total_ppl,floor_coun,elevators_,area_resid,area,basement_a,...,total_ppl_is_imputed,floor_coun_is_imputed,elevators__is_imputed,area_resid_is_imputed,area_is_imputed,basement_a_is_imputed,geometry,id,index_right,block_id
0,1983,3,0,7,0,7,0,1977.350026,2558.467926,399.498500,...,False,True,True,True,False,True,"MULTIPOLYGON (((20.51145 54.70662, 20.51160 54...",0,NaN,NaN
1,1956,3,0,7,0,4,0,1761.342650,2906.330011,385.467323,...,False,True,True,True,False,True,"MULTIPOLYGON (((20.49184 54.71944, 20.49182 54...",1,437.0,437.0
2,1953,2,0,7,0,4,0,1959.889616,2625.769565,445.365694,...,False,True,True,True,False,True,"MULTIPOLYGON (((20.48696 54.71911, 20.48691 54...",2,NaN,NaN
3,1952,2,0,7,0,3,0,1716.788729,3928.826205,423.422774,...,False,True,True,True,False,True,"MULTIPOLYGON (((20.50150 54.69503, 20.50236 54...",3,NaN,NaN
4,1951,2,0,7,0,4,0,1766.993489,5125.072749,340.218804,...,False,True,True,True,False,True,"MULTIPOLYGON (((20.44184 54.70982, 20.44209 54...",4,37.0,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23908,1947,2,0,7,0,2,0,781.210334,4370.401174,420.646884,...,False,True,True,True,False,True,"MULTIPOLYGON (((20.50578 54.72032, 20.50572 54...",23908,532.0,532.0
23909,1970,3,1,7,44,3,0,1638.375990,2308.606474,449.948914,...,False,True,True,True,False,True,"MULTIPOLYGON (((20.53922 54.71849, 20.53971 54...",23909,773.0,773.0
23910,1954,2,0,7,0,3,0,765.905259,305.605432,380.837892,...,False,True,True,True,False,True,"MULTIPOLYGON (((20.36453 54.72849, 20.36459 54...",23910,27.0,27.0
23911,1984,3,1,7,42,4,0,1725.238896,2920.359252,512.857769,...,False,True,True,True,False,True,"MULTIPOLYGON (((20.51670 54.70085, 20.51687 54...",23911,587.0,587.0
23912,1977,2,1,7,64,6,0,2083.719827,4766.780392,416.025964,...,False,True,True,True,False,True,"MULTIPOLYGON (((20.51622 54.70125, 20.51629 54...",23912,587.0,587.0

In [7]:
buildings = buildings.drop(columns=["index_right"])

In [15]:
buildings["block_id"] = buildings["block_id"].fillna(buildings["block_id"].median())

In [16]:
buildings["block_id"]

0          0.0
1        437.0
2        475.0
3        475.0
4         37.0
         ...
23908    532.0
23909    773.0
23910     27.0
23911    587.0
23912    587.0
Name: block_id, Length: 23923, dtype: float64

In [39]:
buildings = buildings.rename(columns={"basement_a": "basement_area", "area_resid": "living_area","floor_coun": "storeys_count"})

In [51]:
buildings = buildings.astype({"is_living": bool, "block_id": int})

In [52]:
buildings.dtypes

built_year                  int64
entrance_c                  int64
is_living                    bool
heating_ty                  int64
total_ppl                   int64
storeys_count               int64
elevators_                  int64
living_area               float64
area                      float64
basement_area             float64
built_year_is_imputed        bool
entrance_c_is_imputed        bool
is_living_is_imputed         bool
heating_ty_is_imputed        bool
total_ppl_is_imputed         bool
floor_coun_is_imputed        bool
elevators__is_imputed        bool
area_resid_is_imputed        bool
area_is_imputed              bool
basement_a_is_imputed        bool
geometry                 geometry
id                          int64
block_id                    int32
dtype: object

In [53]:
buildings.to_file("final_buildings.geojson", driver="GeoJSON")

In [54]:
from CityGeoTools.metrics.data import CityInformationModel as BaseModel

city_model = BaseModel.CityInformationModel(city_name="Kaliningrad", city_crs=32636)
city_model

In [55]:
city_model.update_layer(attr_name="Buildings", file_name="final_buildings.geojson")

print(city_model.Buildings)

Validation of Buildings layer...
Buildings layer loaded successfully!
                                                geometry  built_year  \
0      MULTIPOLYGON (((-302533.446 6134008.531, -3025...        1983
1      MULTIPOLYGON (((-303530.885 6135650.022, -3035...        1956
2      MULTIPOLYGON (((-303848.971 6135669.662, -3038...        1953
3      MULTIPOLYGON (((-303400.985 6132844.276, -3033...        1952
4      MULTIPOLYGON (((-306917.567 6135168.176, -3068...        1951
...                                                  ...         ...
23918  MULTIPOLYGON (((-302622.828 6135585.450, -3026...        1947
23919  MULTIPOLYGON (((-300522.739 6134997.754, -3004...        1970
23920  MULTIPOLYGON (((-311480.289 6138128.724, -3114...        1954
23921  MULTIPOLYGON (((-302313.073 6133310.507, -3023...        1984
23922  MULTIPOLYGON (((-302335.595 6133360.837, -3023...        1977

       entrance_c  is_living  heating_ty  total_ppl  storeys_count  \
0               3      False           7          0              7
1               3      False           7          0              4
2               2      False           7          0              4
3               2      False           7          0              3
4               2      False           7          0              4
...           ...        ...         ...        ...            ...
23918           2      False           7          0              2
23919           3       True           7         44              3
23920           2      False           7          0              3
23921           3       True           7         42              4
23922           2       True           7         64              6

       elevators_  living_area         area  ...  is_living_is_imputed  \
0               0  1977.350026  2558.467926  ...                 False
1               0  1761.342650  2906.330011  ...                 False
2               0  1959.889616  2625.769565  ...                 False
3               0  1716.788729  3928.826205  ...                 False
4               0  1766.993489  5125.072749  ...                 False
...           ...          ...          ...  ...                   ...
23918           0   781.210334  4370.401174  ...                 False
23919           0  1638.375990  2308.606474  ...                 False
23920           0   765.905259   305.605432  ...                 False
23921           0  1725.238896  2920.359252  ...                 False
23922           0  2083.719827  4766.780392  ...                 False

       heating_ty_is_imputed  total_ppl_is_imputed  floor_coun_is_imputed  \
0                      False                 False                   True
1                      False                 False                   True
2                      False                 False                   True
3                      False                 False                   True
4                      False                 False                   True
...                      ...                   ...                    ...
23918                  False                 False                   True
23919                  False                 False                   True
23920                  False                 False                   True
23921                  False                 False                   True
23922                  False                 False                   True

       elevators__is_imputed  area_resid_is_imputed  area_is_imputed  \
0                       True                   True            False
1                       True                   True            False
2                       True                   True            False
3                       True                   True            False
4                       True                   True            False
...                      ...                    ...              ...
23918                   True                   True            False
23919                   True                   True            False
23920                   True                   True            False
23921                   True                   True            False
23922                   True                   True            False

       basement_a_is_imputed     id  block_id
0                       True      0         0
1                       True      1       437
2                       True      2       475
3                       True      3       475
4                       True      4        37
...                      ...    ...       ...
23918                   True  23908       532
23919                   True  23909       773
23920                   True  23910        27
23921                   True  23911       587
23922                   True  23912       587

[23923 rows x 23 columns]

In [56]:
city_model.methods.spacematrix.message

{'Buildings': 'Layer matches specification'}